body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
}

.table-container {
    max-width: 1000px;
    margin: auto;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #c8d600;
    color: #fff;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

/* ===== Mobile Responsive ===== */
@media (min-width: 320px) and (max-width: 720px) {
    table, thead, tbody, th, td, tr {
        background-color: aqua;
        display: block;
    }

    thead {
        display: none;
    }

    
    tr {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 10px;
        background: #fff;
    }

    td {
        text-align: left;
        padding-left: 50%;
        position: relative;
        border: none;
        border-bottom: 1px solid #eee;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        color: #333;
    }
}

