* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #cf773d, #7804ec);
}

.login_container {
    background: #fff;
    padding: 25px;
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login_container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #667eea;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #5a67d8;
}
 

@media screen and (max-width: 480px) {
    .login_container {
        padding: 20px;
        margin: 10px;
         background: linear-gradient(135deg, #cf773d, #a29ca8);

    }
    body{
         background: linear-gradient(135deg, #cf533d, #a29ca8);
    }
}